name: Build/release

on: push

jobs:
  release:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v1

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - uses: oven-sh/setup-bun@v2

      - name: Install Snapcraft
        uses: samuelmeuli/action-snapcraft@v1.1.3
        if: startsWith(matrix.os, 'ubuntu-latest')
        with:
          snapcraft_token: ${{ secrets.snapcraft_token }}

      - name: Install dependencies
        run: bun install

      - name: Build
        run: bun run build

      - name: Build/release Electron app
        uses: samuelmeuli/action-electron-builder@v1.6.0
        with:
          github_token: ${{ secrets.github_token }}
          skip_build: true
          release: ${{ startsWith(github.ref, 'refs/tags/v') }}
