name: Test

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: oven-sh/setup-bun@v2
      - name: Install modules
        run: bun install
      - name: Run tests
        run: bun run test
      - name: Run language tests
        run: node ./tests/langcompare.cjs
